################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/softlink - Copy.bat
/~$问题.docx
.vs
Debug
*.dir
CmakeFiles
fc_base
runtime-backup
/runtime/libtorch/fc_base/glog-src/CMakeLists.txt
/runtime/libtorch/fc_base/glog-src/src/demangle.cc
/runtime/libtorch/fc_base/glog-src/src/logging.cc
/runtime/libtorch/fc_base/glog-src/src/raw_logging.cc
/runtime/libtorch/fc_base/glog-src/src/signalhandler.cc
/runtime/libtorch/fc_base/glog-src/src/symbolize.cc
/runtime/libtorch/fc_base/glog-src/src/utilities.cc
/runtime/libtorch/fc_base/glog-src/src/vlog_is_on.cc
/runtime/libtorch/fc_base/glog-src/src/windows/port.cc
/runtime/libtorch/fc_base/glog-build/glog/logging.h
/runtime/libtorch/fc_base/glog-build/glog/raw_logging.h
/runtime/libtorch/fc_base/glog-build/glog/stl_logging.h
/runtime/libtorch/fc_base/glog-build/glog/vlog_is_on.h
/runtime/libtorch/fc_base/glog-src/src/base/commandlineflags.h
/runtime/libtorch/fc_base/glog-src/src/base/googleinit.h
/runtime/libtorch/fc_base/glog-src/src/base/mutex.h
/runtime/libtorch/fc_base/glog-src/src/demangle.h
/runtime/libtorch/fc_base/glog-src/src/glog/log_severity.h
/runtime/libtorch/fc_base/glog-src/src/symbolize.h
/runtime/libtorch/fc_base/glog-src/src/utilities.h
/runtime/libtorch/fc_base/glog-src/src/windows/port.h
/runtime/libtorch/ALL_BUILD.vcxproj
/runtime/libtorch/ALL_BUILD.vcxproj.filters
/runtime/libtorch/asmjit.dll
/runtime/libtorch/ASRServer.sln
/runtime/libtorch/c10.dll
/runtime/libtorch/CMakeCache.txt
/runtime/libtorch/cmake_install.cmake
/runtime/libtorch/CPackConfig.cmake
/runtime/libtorch/CPackSourceConfig.cmake
/runtime/libtorch/fbgemm.dll
/runtime/libtorch/INSTALL.vcxproj
/runtime/libtorch/INSTALL.vcxproj.filters
/runtime/libtorch/libiomp5md.dll
/runtime/libtorch/libiompstubs5md.dll
/runtime/libtorch/PACKAGE.vcxproj
/runtime/libtorch/PACKAGE.vcxproj.filters
/runtime/libtorch/README.md
/runtime/libtorch/README_CN.md
/runtime/libtorch/torch.dll
/runtime/libtorch/torch_cpu.dll
/runtime/libtorch/torch_global_deps.dll
/runtime/libtorch/uv.dll
/runtime/libtorch/ZERO_CHECK.vcxproj
/runtime/libtorch/ZERO_CHECK.vcxproj.filters
